@page "/"
@model Conesoft.Website.Pages.IndexModel

<section>
    <form action="/tasks/start-scheduling" method="post">
        <input type="text" name="website" placeholder="website" autofocus>
        <input type="hidden" name="redirectto" value="/">
        <input type="submit" value="start scheduling">
    </form>
</section>

<style>
    section {
        margin: 5rem;
    }

    td {
        padding: 0 0.5rem 0 0;
    }
</style>

<section>
    @if (Model.Entries != null)
    {
        @foreach (var entry in Model.Entries)
        {
            <h1>@entry.Key</h1>
            <table>
                <thead>
                    <tr>
                        <td>name</td>
                        <td>schedule</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var task in entry.Value)
                    {
                        <tr>
                            <td>@task.Name</td>
                            <td style="text-align: right">@(task.Schedule.Every != null ? "every" : "at") @task.Schedule.Every @task.Schedule.At</td>
                            <td><a href="https://@entry.Key/tasks/@(task.Name).json" target="_blank">run</a> (opens in new tab)</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    }
</section>

<section>
    @if (Model.Entries != null && Model.Entries.Count > 0)
    {
        <form action="/" method="post">
            @Html.AntiForgeryToken()
            <input type="hidden" name="redirectto" value="/">
            <input type="submit" value="delete all chedules">
        </form>
    }
</section>